body {
    background-color: #e4e4e4;
    margin: 0;
}

.topnav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
}

.meny{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
}

.container, .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2 {
    align-items: center;
    background: url(https://s-media-cache-ak0.pinimg.com/originals/b1/46/11/b1461148640c57ec3ed77cef4a584e08.jpg) no-repeat center center fixed;
}

.header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0f1724;
    background-position: 0vw 0vh;
    height: 500px;
    text-align: center;
}

.links {
    background-color: lightcoral;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.wrapper {
    background-color: azure;
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3 {
    height: 250px;
    display: flex;
    flex-direction: row;
}

.puzzel1, .puzzel3 {
    flex-grow: 3;
    background-color: beige;
}

.puzzel3 {
    background: url("http://geekfr.com/cacheimg/i.php?img=http://www.numerama.com/content/uploads/2017/04/13rw_102_00814r-1024x683.jpg&key=b1f4d862d53d8951d05e752675c37b37");
    background-position: -2vw 0vh;
    flex-grow: 2.2;
}

.puzzel2 {
    width: 40%;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: #0f1724;
}

.puzzel4 {
    background-color: red;
    width: 30%;
}

.puzzel5 {
    flex-grow: 0.8;
    background-color: aquamarine;
}

.puzzel6 {
    flex-grow: 0.8;
    background-color: red;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: darkkhaki;
    align-items: center;
    bottom: 0;
    height: 100%;
}

.rad1, .rad2 {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-top: 10px;
    width: 95%;
    justify-content: space-around;
}

.rad2 {
    margin-bottom: 10px;
}

.square {
    height: 100%;
    width: 300px;
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
}

.info {
    height: 20%;
    width: 100%;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: row;
    height: 1500px;
    background-color: #e4e4e4;
    width: 70%;
}

.sidenav {
    height: 25%;
    background-color: antiquewhite;
    flex-grow: 1;
}

.posts {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 2;
    margin-left: 10px;
}

.post, .post1 {
    width: 100%;
    background-color: blueviolet;
    flex-grow: 1;
}

.post1 {
    margin-top: 10px;
}
